header {
    height: 30%;
    max-height: 45rem;
    overflow: hidden;
}

header figure {
    margin: 0px;
    width: 100%;
    overflow: hidden;
}

header figure img {
    width: 100%;

}

header figure div {
    position: relative;
    top: -40rem;
    font-family: Squada !important;
    font-size: 2rem;
    color: white;
}

header figure div h1{
    text-transform: uppercase;
    margin: 0rem;
    margin-left: 3rem;
    text-decoration: wavy;
    font-size: 6rem;
}

header figure div h2{
    margin-left: 3rem;
    margin-bottom: 0rem;
    font-size: 3rem;
    font-family: Raleway;
}


#wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

#mainGrid {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: #000000;
    padding: 0rem 10rem 0rem 10rem;
}



.perfect-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner{
    position: relative;
    margin: auto;
    background: aliceblue;
    flex-flow: column nowrap;
    width: 60%;
    height: 8rem;
    top: -4rem;
    margin-bottom: 5%;
    z-index: 10;
}

#banner h3{
    font-family: Major;
    text-transform: lowercase;
    font-size: xxx-large;
    margin-left: 0;
    margin-top: 0%;
    margin-bottom: 0%;
}

#banner p{
    font-family: Major;
    text-transform: lowercase;
    font-size: x-large;
}

#about-us{
    display: flex;
    position:relative;
    background: #191DFF;
    flex-flow: row wrap;
    width: 85%;
    height: 35rem;
    z-index: 10;
}

#about-us figure{
    order: 1;
    flex: 40%;
    background: chartreuse;
    overflow: hidden;
    height: 100%;
}

#about-us figure img{
    height: 100%;
}

#about-us div{
    order: 2;
    flex: 56%;
    padding: 2%;
    background: #E6E6E6;
}


#about-us div h3{
    width: 90%;
    margin: auto;
    margin-bottom: 3%;
    text-align: center;
    font-family: Open condensed bold;
    font-size: xx-large;

}


#banner h3{
    margin-left: 0;
}

.col{
    position: absolute;
    background: #FCCE00;
    width: 7%;
    z-index: 999;
}

#col1{
    height: 15rem;
    z-index: 2;
}

#col2{
    display: none;
    height: 13rem;
    left: -33%;
}
#col3{
    display: none;
    height: 13rem;
    left: 33%;
}
#col4{
    display: none;
    height: 33rem;
}

section#testimonials{
    position: relative;
}

section#testimonials ul{
    margin-top: 0;
    list-style-type: none;
    padding-inline-start: 0;
}

section#testimonials ul li{
    margin-bottom: 10%;
    height: 15rem;
}


section#testimonials ul li div{
    display: flex;
    background: aliceblue;
    height: 15rem;
    width: 80%;
    position: relative;
    margin: auto;
    z-index: 2;
    flex-flow: column nowrap;
}

section#testimonials ul li:nth-child(1) div{
    left: 3%;
}

section#testimonials ul li div h4{
    margin-top: 0;
}

section#testimonials ul figure{
    background: blueviolet;
    width: 20%;
    height: 12rem;
    z-index: 3;
    margin: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

section#testimonials ul figure img{
    width: 100%;
    height: 100%;
}

section#testimonials ul li div h4{
    margin-top: 5% !important;
    margin-left: 20%;
    font-family: Open condensed bold;
    font-size: large;
    
}

section#testimonials ul li div p{
    margin-left: 20%;
}

section#testimonials ul li:nth-child(2) div h4{

    margin-left: 5%;
    font-family: Open condensed bold;
    font-size: large;
    
}

section#testimonials ul li:nth-child(2) div p{
    margin-left: 5%;
    max-width: 70%;
}

section#testimonials ul li:nth-child(2) figure{
    bottom: 130%;
    left: 73%;
}

section#testimonials ul li:nth-child(1) figure{
    bottom: 130%;
    left: 7%;
}

section#testimonials ul li:nth-child(2) figure{
    bottom: 130%;
    left: 73%;
}
section#testimonials ul li:nth-child(3) div{
    left:3%
}

section#testimonials ul li:nth-child(3) figure{
    bottom: 130%;
    left: 7%;
}

section#findUs{
    position: relative;
    width: 95%;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

section#findUs h1{
    color: white;
}

#map{
    background: deepskyblue;
    width: 85%;
    height: 35rem;
    position: relative;
}

section#findUs ul{
    list-style-type: none;
    position: relative;
    top: -9rem;
    left: -48%;
}

section#findUs ul li{
    margin-bottom: 40%;
}

section#findUs p{
    background: aliceblue;
    height: 2.8rem;
    width: 400%;
}

#icons{
    display: none;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: center;
    position: relative;
    top: -22rem;
    left: 15%;
    width: 183%;

}

#icons figure{
    background: darkorange;
    width: 8%;
    height: 9rem;
    margin-right: 2%;
}



