
header {
    background-color: blue;
    height: 30%;
    max-height: 45rem;
    overflow: hidden;
}

header figure {
    margin: 0px;
    width: 100%;
    overflow: hidden;
}

header figure img {
    width: 100%;
    
}

section#about-us{
    background-color:red;
    width: 100%;
    height: 30%;
    max-height: 40rem;

}

section .informacion{
    background-color: #D9D9D9;
    width: 70%;
    height: 40rem;
    position: relative;
    margin: auto;
    top: -3rem;
    
}

section#services{
    background-color: #08080E;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

section#services ul{
    width: 50%;
    margin: auto;
    list-style-type: none;
}

section#services ul li {
    position: relative;
    margin-top: 2rem ;
    margin-bottom: 2rem;
}

section#services ul li figure{
    background-color: cyan;
    width: 60%;
    margin: 0%;
    height: 20rem;
    position: relative;
    z-index: 20;
}

section#services ul li div{
    background-color: whitesmoke;
    width: 40%;
    height: 10rem;
    position: absolute;
    z-index: 25;
    left: 24rem;
    top: 5rem;
}

section#services ul li:nth-child(2) figure{
    background-color: blueviolet;
    position: absolute;
    top: 0rem;
    left: 19rem;
    z-index: 19;
 
}

section#services ul li:nth-child(2) div{
    background-color: red;
    position: relative;
    left: 3rem;
    top: 5rem;
    margin-bottom: 12rem;
    z-index: 20;
}

aside{
    background-color: grey;
    width: 100%;  
}

aside figure {
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

aside figure > img {
    width: 100%;
    position: relative;
}

section#contact-us{
    background-color: #08080E;
    width: 100%;
    height: 35rem;
    padding-top:2rem;

}

section#contact-us div{
    background-color: #D9D9D9;
    width: 5rem;
    height: 5rem;
    margin: 2rem 2rem 2rem 10rem;
    display: inline-block;
    position: relative;

 
}

section#contact-us div:nth-child(1){
    background-color: #D9D9D9;
    width: 60%;
    height: 35rem;
    margin: 0rem 8rem 0rem 2rem;
    float: right;
    top: -20% ;
}


footer {
    background-color: #F5C700;
    width: 100%;
    height: 15rem;
    padding-top: 2rem ;
 
}

footer div{
    display: inline-block;
    position: relative;
    width: 30%;
    height: 10rem;
    background-color: azure;
}

footer div:nth-child(1) {
    margin-left: 20%;
}



@media screen and (max-width: 1279px){
 
   
    section#contact-us div{
        background-color: #D9D9D9;
        width: 5rem;
        height: 5rem;
        margin: 2rem 2rem 2rem 8rem;
        display: inline-block;
        position: relative;

    
    }

    section#contact-us div:nth-child(1){
        background-color: #D9D9D9;
        width: 60%;
        height: 35rem;
        margin: 0rem 6rem 0rem 2rem;
        float: right;
        top: -20% ;
    }

    footer div{
        width: 40%;
    }

    footer div:nth-child(1) {
        margin-left: 10%;
    }

}



@media screen and (max-width: 950px){
    
    
    section .informacion{
        background-color: #D9D9D9;
        width: 70%;
        height: 30rem;
        position: relative;
        margin: auto;
        top: -3rem;
        
    }
    
    section#services{
        background-color: yellowgreen;
      
    }

    section#services ul{
        width: 70%;
        position: relative;
        background-color: yellow;
        margin: auto;
        list-style-type: none;
    }
    
    section#services ul li {
        background-color: blueviolet;
        position: relative;
        margin-top: 2rem ;
        margin-bottom: 2rem;
    }

    section#services ul li figure{
        background-color: cyan;
        width: 60%;
        margin: 0%;
        height: 15rem;
        position: relative;
        z-index: 20;
    }
    
    section#services ul li div{
        background-color: whitesmoke;
        width: 40%;
        height: 15rem;
        position: absolute;
        z-index: 25;
        left: 60%;
        top: 0rem;
    }

    section#services ul li:nth-child(2) figure{
        background-color:  cyan;
        position: absolute;
        top: 0rem;
        left: 40%;
        z-index: 19;
     
    }
    
    section#services ul li:nth-child(2) div{
        background-color:whitesmoke;
        position: relative;
        left: 0rem;
        top: 0rem;
        margin-bottom: 2rem;
        z-index: 20;
    }
    

    aside figure {
        width: 100%;
        height: 25rem;
        overflow: hidden;
    }
    
    aside figure > img {
        width: 100%;
        position: relative;
    }


    section#contact-us{
        background-color: #08080E;
        width: 100%;
        height: 35rem;
        padding-top:2rem;
    
    }
    
    section#contact-us div{
        background-color: #D9D9D9;
        width: 5rem;
        height: 5rem;
        margin: 2% 0% 0% 17%;
        display: inline-block;
        position: relative;
        top: -15% ;
    
     
    }
    
    section#contact-us div:nth-child(1){
        background-color: #D9D9D9;
        width: 70%;
        height: 30rem;
        float: left;
        margin-left: 15%;
        margin-right: 0%;
        top: -20% ;
    }

}




@media screen and (max-width: 767px){

}