header {
    height: 30%;
    max-height: 45rem;
    overflow: hidden;
}

header figure {
    background-color: black;
    margin: 0px;
    width: 100%;
    overflow: hidden;
}

header figure img {
    width: 100%;
    opacity: .8;
}

header figure div {
    
    position: relative;
    top: -44rem;
    font-family: Squada !important;
    font-size: 2rem;
    color: white;  
}

header figure div h1{
    text-transform: uppercase;
    text-align: center;
    text-decoration: wavy;
    margin: 0rem;
    font-size: 7rem;   
}

header figure div h2,h3{
    margin-left: 3rem;
}

header figure div h2{
    margin-bottom: 0rem;
    font-size: 4rem; 
}
header figure div h3{
     margin-top: 0rem;
     margin-bottom: 0rem;
     font-family: Raleway;
}

section#about-us{
    background-color:black;
    width: 100%;
    height: 55rem;
}

section#about-us .informacion{
    background-color:#E6E6E6;
    width: 70%;
    height: 50rem;
    padding: 4rem;
    padding-top: 2rem;
    padding-bottom: 0%;
    position: relative;
    margin: auto;
    top: -3rem;

}

section#about-us .informacion h2{
    width: 90%;
    margin: 0% auto 0% auto;
    text-align: center;
    position: relative;
    font-family: Open condensed bold;
    font-size: xxx-large;
    
}


section#about-us .informacion div.valores{
    width: 40%;
    margin-top: 4%;
    margin-left: 5% ;
    margin-right: 2% ;
    display: inline-block;
    
}

section#about-us .informacion div.valores img{
    width: 30%;
    margin-left: 35%;
    
}

section#about-us .informacion div.valores figcaption{
    text-align: center;  
}

section#about-us .informacion div.valores figcaption h3{
    font-size: x-large; 
    margin-bottom: .2%;
    margin-left: 0%;
}

section#about-us .informacion span{
    text-align: center;
    cursor: pointer;
    display: block;
    font-size: x-large;
    margin-top: 6%;
}

/* section#about-us .informacion span:hover{
    color:#FCCE00;
} */

section#about-us .informacion span:after{
    content: url('/img/flecha-hacia-abajo.svg');
    display: block;
    width: 3rem;
  
    margin: auto;
}

section#services{
    background-color: black;
    width: 100%;
    padding-bottom: 2rem;
}

section#services h2{
    color: white;
    width: 90%;
    margin: 0% auto 0% auto;
    text-align: center;
    position: relative;
    font-family: Open condensed bold;
    font-size: xxx-large;
}

section#services ul{
    width: 50%;
    margin: auto;
    list-style-type: none;
}

section#services ul li {
    position: relative;
    margin-top: 2rem ;
    margin-bottom: 2rem;
}

section#services ul li figure{
    background-color: cyan;
    width: 60%;
    margin: 0%;
    height: 20rem;
    position: relative;
    z-index: 20;
    overflow: hidden;
}

section#services ul li figure img{
   width: 100%;
   height: 100%;
}

section#services ul li div{
    background-color:#E6E6E6;
    opacity: .95;
    width: 40%;
    height: 15rem;
    position: absolute;
    z-index: 25;
    left: 23.8rem;
    padding: 2%;
    top: 2.5rem;
}

section#services ul li div h3{
    font-size: x-large; 
    margin: 0%;
    text-align: center;
    text-transform: uppercase;

}

section#services ul li div p{
    margin-top: 2rem;
}

section#services ul li:nth-child(2) figure{
    background-color: blueviolet;
    position: absolute;
    top: 0rem;
    left: 19rem;
    z-index: 19;

}

section#services ul li:nth-child(2) figure img{
    width: 100%;
    height: auto;

}

section#services ul li:nth-child(2) div{
    background-color: #E6E6E6;
    position: relative;
    left: 1.51rem;
    top: 2.5rem;
    margin-bottom: 6rem;
    z-index: 20;
}


section#services span{
    text-align: center;
    cursor: pointer;
    display: block;
    font-size: x-large;
    color: white;
    margin-top: 6%;
}

section#services span:hover{
   color:  #FCCE00;
}

section#services span:after{
    content: url('/img/flecha-hacia-abajo.svg');
    display: block;
    width: 3rem;
  
    margin: auto;
}

aside{
    background-color: #08080E;
    width: 100%;
}

aside figure {
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

aside figure > img {
    width: 100%;
    opacity: .6;
    position: relative;
    top: -10rem;
}

aside figure > div p{
    position: relative;
    color: white;
    top: -63rem;
    font-family: Squada !important;
    font-size: 6rem;
    width: 90%;
    margin: auto;
    text-align: center;

}

section#contact-us{
    background-color: black;
    width: 100%;
    height: 35rem;
    padding-top:2rem;

}

section#contact-us div{
    width: 5rem;
    height: 5rem;
    margin: 2rem 2rem 2rem 10rem;
    display: inline-block;
    position: relative;


}

section#contact-us div > img{
    width: 100%;
    cursor: pointer;
}

section#contact-us div:nth-child(1){
    background-color: #D9D9D9;
    width: 60%;
    height: 35rem;
    margin: 0rem 8rem 0rem 2rem;
    float: right;
    top: -20% ;
}

section#contact-us div:nth-child(1) h2{
    text-align: center;
    font-family: Open condensed bold;
    font-size: xxx-large;
    margin-bottom: .2%;
}

section#contact-us div:nth-child(1) input{
    width: 70%;
    display: inline-block;
    margin-left: 15%;
    margin-top: 5%;
    height: 2rem;
}

section#contact-us div:nth-child(1) input:nth-child(3){
    height: 5rem;
}

section#contact-us div:nth-child(1) button{
    color: white;
    background-color: black;
    display: block;
    margin-top: 2%;
    width: 30%;
    margin-top: 4%;
    margin-left: 35%;
    height: 3rem;
    cursor: pointer;
    font-size: xx-large;
    font-family: Squada ;
    border-radius: 1rem;
}





@media screen and (max-width: 1279px){

    header figure img {
        min-height: 45rem;
    }
    
    header figure div {    
        top: -32rem;
    }

    header figure div h1{
        font-size: 6rem;   
    }

    header figure div h2{
        font-size: 4rem; 
    }

    header figure div h3{
         margin-top: 0rem;
         margin-bottom: 0rem;
    }
    
    section#about-us .informacion{
        height: 45rem;
        padding: 4rem;
        padding-bottom: 2rem;
        padding-top: 2rem;
    }

    section#services ul li figure img{
       width: 130%;
       min-height: 100%;
    }
    
    section#services ul li div{
        left: 17.8rem;
    }
    
    section#services ul li:nth-child(2) figure{
        left: 14.6rem;
    }
    
    aside figure > div p{
        top: -47rem;
        font-size: 5rem;
    }

    section#contact-us div{
        width: 5rem;
        height: 5rem;
        margin: 2rem 2rem 2rem 8rem;
        display: inline-block;
        position: relative;
    }

    section#contact-us div:nth-child(1){
        background-color: #D9D9D9;
        width: 60%;
        height: 30rem;
        margin: 0rem 6rem 0rem 2rem;
        float: right;
        top: -20% ;
    }

}

@media screen and (max-width: 950px){

    section#about-us .informacion{
        height: 40rem;
    }

    section#about-us {
        height: 45rem;
    }

    section#services ul{
        width: 80%;
        margin: auto;
        list-style-type: none;
        padding-left: 0px;
    }

    section#services ul li {
        background-color: blueviolet;
        position: relative;
        margin-top: 2rem ;
        margin-bottom: 2rem;
    }

    section#services ul li figure{
        background-color: cyan;
        width: 40%;
        margin: 0%;
        height: 17rem;
        position: relative;
        z-index: 20;
    }

    section#services ul li div{
        width: 60%;
        height: 15rem;
        padding: 1rem 1rem 1rem 1rem !important;
        left: 40%;
        top: 0rem;
        padding: 0%;
    }

    section#services ul li:nth-child(2) figure{
        top: 0rem;
        width: 40%;
        left: 64%;
    }

    section#services ul li:nth-child(2) div{
        left: 0rem;
        top: 0rem;
        margin-bottom: 2rem;
        
    }


    
    section#services ul li div p{
        margin-top: 1rem;
        margin-left: .5rem;
    }


    aside figure > div p{
        top: -33rem;
        font-size: 5rem;
    }

    section#contact-us div{
        margin: 2% 0% 0% 17%;
        top: -15% ;
    }

    section#contact-us div:nth-child(1){
        background-color: #D9D9D9;
        width: 70%;
        height: 30rem;
        float: left;
        margin-left: 15%;
        margin-right: 0%;
        top: -20% ;
    }

}

@media screen and (max-width: 767px){

    section#about-us .informacion{
        height: 45rem;
    }

    section#about-us {
        height: 50rem;
    }

    section#services ul{
        width: 80%;
        margin: auto;
        list-style-type: none;
        padding-left: 0px;
    }

    aside figure > img {
        top: 0rem;
    }
    
    aside figure > div p{
        top: -27rem;
        font-size: 5rem;
    
    }


}


@media (max-width: 567px){
 

}


@media (max-width: 467px){

}

@media (max-width: 367px){

}
