body{
    padding: 0;
}

#servicesContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: #000000;
    padding: 8% 0% 8% 0%;
}

#servicesContainer div > h2{
    position: relative;
    font-family: Squada !important;
    color: white;
    font-size: 4rem !important;

}

section#menu{
    display: flex;
    position:relative;
    background: #E6E6E6;
    flex-flow: row wrap;
    width: 85%;
    height: 30rem;
    z-index: 10;
 

}


/*--------Menu ------------*/
@-webkit-keyframes slidein {
  0% {
    top: -60rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes slidein {
  0% {
    top: -60rem;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@-webkit-keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -60rem;
    opacity: 0;
  }
}

@keyframes slideout {
  0% {
    top: 0;
    opacity: 1;
  }
  100% {
    top: -60rem;
    opacity: 0;
  }
}

body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body #scene {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: left;
          justify-content: left;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
}

body #scene #left-zone {
  background: #fff;
  height: 75%;
  -webkit-box-flex: 0;
          flex-grow: 0;
  display: -webkit-box;
  display: flex;
  width: 30%;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: left;
          justify-content: left;
}

body #scene #left-zone .list {
  display: -webkit-box;
  display: flex;
  list-style: none;
  align-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin: 0;
  padding: 0;
}

body #scene #left-zone .list li.item input[type="radio"] {
  display: none;
}

body #scene #left-zone .list li.item input[type="radio"] ~ label {
  display: block;
  opacity: 0.5;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: x-large;
}

body #scene #left-zone .list li.item input[type="radio"] ~ label:first-letter {
  text-transform: uppercase;
}

body #scene #left-zone .list li.item input[type="radio"] ~ label:hover {
  opacity: 0.75;
  cursor: pointer;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content {
  position: absolute;
 
  left: 30.8%;
  top: -90%;
  width: 68%;
  margin-top: 2%;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-name: slideout;
          animation-name: slideout;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}


body #scene #left-zone .list li.item input[type="radio"] ~ .content div.why{
    background-color: #000;
    width: 100%;
    height: 25rem;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content div.why  img{
    width: 100%;
    height: 100%;
    opacity: .15;
    z-index: 15;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content div.why  h3 {
    color:  white;
    position: relative;
    top:-90%;
    font-family: Open condensed bold;
    font-size: xx-large;
    left: 5%;
}

body #scene #left-zone .list li.item input[type="radio"] ~ .content div.why  p {
    color:  white;
    position: relative; 
    top:-90% ; 
    left: 5%;
    max-width: 90%;
    font-size: x-large;
   text-align: left;
}





body #scene #left-zone .list li.item input[type="radio"]:checked ~ label {
  color: black;
  border-right: solid 4px  #FCCE00;
  opacity: 1;
  -webkit-animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body #scene #left-zone .list li.item input[type="radio"]:checked ~ .content {
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body #scene #middle-border {
  background-color: #eee;
  height: 75%;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 2px;
  z-index: 0;
}

body #scene #right-zone {
  height: 100%;
  -webkit-box-flex: 3;
          flex-grow: 3;
}


/*------------SLIDER------------*/
#slider{
    margin: 5%;
}

#slider h2{
    color:  white;
    position: relative;
    text-align: center;
    font-family: Open condensed bold;
    font-size: xxx-large;
    margin: 4%;
}

#slider2 i {
	position: relative;
	display: block;
	width: 55rem;
	height: 35rem;
	overflow: hidden;
	border-radius: 5px;
}

#slider2 i:before,#slider2 i:after {
	content: '⥪';
    font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 2rem;
	z-index: 2;
	width: 4rem;
	height: 4rem;
	background: #FCCE00;
	color:black;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

#slider2 i:after {
	content: '⥭';
	left: auto;
	right: 2rem;
}

/* I haven't found a way for IE and Edge to let me style inputs that way */
#slider2 input {
	appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transform: translateX(100%);
	transition: transform ease-in-out 400ms;
	z-index: 1;
}

#slider2 input:focus {
	outline: none;
}

#slider2 input:after {
	content: attr(title);
	position: absolute;
	top: 2rem;
	left: 2rem;
	background-color: rgba(0,0,0,0.4);
	color: white;
	padding: .5rem;
	font-size: 2rem;
	border-radius: 5px;
}

#slider2 input:not(checked):before {
	content: '';
	position: absolute;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	top: 50%;
	left: calc(-100% + 2rem);
}

#slider2 input:checked:before {
	display: none;
	left: 1rem;
}

#slider2 input:checked {
	transform: translateX(0);
	pointer-event: none;
	z-index: 0;
	box-shadow: -5px 10px 20px -15px rgba(0,0,0,1);
}

#slider2 input:checked + input:before {
	left: -6rem;
}

#slider2 input:checked + input ~ input:before {
	display: none;
}

.bg1{
    background-image: url('../img/slider/0.jpeg');
}

.bg2{
    background-image: url('../img/slider/1.jpeg');
}

.bg3{
    background-image: url('../img/slider/2.jpeg');
}

.bg4{
    background-image: url('../img/slider/3.jpeg');
}

.bg5{
    background-image: url('../img/slider//4.jpeg');
}

