header {
    height: 30%;
    max-height: 45rem;
    overflow: hidden;
}

header figure {
    margin: 0px;
    width: 100%;
    overflow: hidden;
}

header figure img {
    width: 100%;

}

header figure div {

    position: relative;
    top: -40rem;
    font-family: Squada !important;
    font-size: 2rem;
    color: white;
}
header figure div h1{
    text-transform: uppercase;
    text-align: center;
    text-decoration: wavy;
    margin: 0rem;
    font-size: 7rem;

}

header figure div h2,h3{
    margin-left: 3rem;
}

header figure div h2{
    margin-bottom: 0rem;
    font-size: 4rem;
}

header figure div h3{
    margin-top: 0rem;
    margin-bottom: 0rem;
}

#servicesContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
