nav {
    background-color: red;
    width: 100%;
    min-height: 5rem;
    position: fixed;
    z-index: 99;
}

header {
    background-color: blue;
}

header figure {
    margin: 0px;
}

header figure > img {
    width: 100%;
    height: 44rem;
}

#about-us{
    background-color: green;
    width: 100%;
    height: 44rem;

}

#services{
    background-color: yellow;
    width: 100%;
    padding: 2rem;
}

aside{
    background-color: grey;
    width: 100%;
    height: 44rem;
}

#contact-us{
    background-color: blue;
    width: 100%;
    height: 44rem;
}

footer {
    background-color: black;
    width: 100%;
    height: 15rem;
}

.informacion{
    background-color: white;
    width: 70%;
    height: 40rem;
    position: relative;
    margin: auto;
    top: -3rem;
    
}

figure{
    margin: 0%;
}

ul{
    background-color: blue;
    width: 50%;
    margin: auto;
}

ul li {
    position: relative;
    margin-top: 2rem ;
    margin-bottom: 2rem;
}

ul li figure{
    background-color: cyan;
    width: 60%;
    height: 20rem;
    position: relative;
    z-index: 20;
}

ul li div{
    background-color: whitesmoke;
    width: 60%;
    height: 10rem;
    position: absolute;
    z-index: 25;
    left: 15rem;
}