
header {
    background-color: blue;
}

header figure {
    margin: 0px;
    height: 44rem;
    overflow: hidden;
}

header figure img {
    width: 100%;
    
}

section#about-us{
    background-color:#000000;
    width: 100%;
    height: 40rem;

}

section .informacion{
    background-color: #D9D9D9;
    width: 70%;
    height: 40rem;
    position: relative;
    margin: auto;
    top: -3rem;
    
}

section#services{
    background-color: yellow;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

section#services ul{
    width: 50%;
    margin: auto;
    list-style-type: none;
}

section#services ul li {
    position: relative;
    margin-top: 2rem ;
    margin-bottom: 2rem;
}

section#services ul li figure{
    background-color: cyan;
    width: 60%;
    margin: 0%;
    height: 20rem;
    position: relative;
    z-index: 20;
}

section#services ul li div{
    background-color: whitesmoke;
    width: 40%;
    height: 10rem;
    position: absolute;
    z-index: 25;
    left: 25rem;
    top: 5rem;
}

section#services ul li:nth-child(2) figure{
    background-color: blueviolet;
    position: absolute;
    top: 0rem;
    left: 19rem;
    z-index: 19;
 
}

section#services ul li:nth-child(2) div{
    background-color: red;
    position: relative;
    left: 3rem;
    top: 5rem;
    margin-bottom: 12rem;
    z-index: 20;
}

aside{
    background-color: grey;
    width: 100%;  
}

aside figure {
    width: 100%;
    height: 25rem;
    overflow: hidden;
}

aside figure > img {
    width: 100%;
    position: relative;
}

section#contact-us{
    background-color: blue;
    width: 100%;
    height: 44rem;
    padding-top:2rem;
    

}

section#contact-us div{
    background-color: white;
    width: 10rem;
    height: 10rem;
    margin: 2rem;
    display: inline-block;
    position: relative;
 
}

section#contact-us div:nth-child(1){
    background-color: rgb(215, 255, 196);
    width: 60%;
    height: 35rem;
    margin: 0rem 2rem 0rem 2rem;
    float: right;
    top: -20% ;
}


footer {
    background-color: black;
    width: 100%;
    height: 15rem;
    padding-top: 2rem ;
 
}

footer div{
    
    display: inline-block;
    position: relative;
    width: 30%;
    height: 10rem;
    background-color: azure;
}

footer div:nth-child(1) {
    margin-left: 20%;
}


