nav {
    background-color: red;
    width: 100%;
    min-height: 5rem;
}

header {
    background-color: blue;
}

header figure {
    margin: 0px;
}

header figure > img {
    width: 100%;
    height: 44rem;
}

#about-us{
    background-color: green;
    width: 100%;
    height: 44rem;
}

#services{
    background-color: yellow;
    width: 100%;
    height: 44rem;
}

aside{
    background-color: grey;
    width: 100%;
    height: 44rem;
}

#contact-us{
    background-color: blue;
    width: 100%;
    height: 44rem;
}

footer {
    background-color: black;
    width: 100%;
    height: 15rem;
}