
@font-face {
    font-family: "Open condensed";
      src: url(/imgs/OpenSansCondensed-Light.ttf);
}

@font-face {
    font-family: "Open condensed bold";
      src: url(/imgs/OpenSansCondensed-Bold.ttf);
}

@font-face {
    font-family: "Open condensed italic ";
      src: url(/imgs/OpenSansCondensed-LightItalic.ttf);
}

@font-face {
    font-family: "Squada";
      src: url(/imgs/SquadaOne-Regular.ttf);
}

body{
    font-family: Open condensed;
}


nav {
    background-color: black;
    opacity: .8;
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 99;
}

nav ul {
    margin: auto;
 
    width: 80%;
    height: 90%;
    position: relative;
    display: inline-block;
    left: 10%;
  
  
}
nav ul li{

    display: inline-block;
    margin-left: .5% ;
    margin-right: .5% ;
    position: relative;
    padding: 1.8%;
    cursor: pointer;

}

nav ul li:hover{
    background-color:#f5c700 ;
}


nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
}

nav ul li:nth-child(3){
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 23%;
    margin-right: auto;
}

nav ul li:nth-child(4){
    text-decoration: none;
    float: right;
}


div#social{
    background-color: #191DFF;
    color: white;
    z-index: 100;
    border-radius: 2rem 2rem 0 0;

    width: 30%;
    position: fixed;
    bottom: 0%;
    left: 35%;
    
}
div#social div{
    position: relative;
    width: 70%;
    margin: 2%;
    font-size: x-large;
    left: 10.2%;
    text-align: center;
}

div#social:hover{
    background-color:#f5c700 ;
    cursor: pointer;
}

/* div#social div:nth-child(1) > p:before{
    content: url(/imgs/ring_volume-black-18dp.svg);
    padding: 7%;
 
} */

div#social div:nth-child(2){
    display: none;
 
}

p{
    margin-top: 0%;
    margin-bottom: 0%;
}

figure{
    margin: 0%;
}
